:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #e5e7f3 !important;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
  background: #FFFFFF;
  box-shadow: 1.50417px 0 6.01667px rgba(59, 124, 255, 0.1);
}

#sidebar-wrapper .sidebar-heading {
  padding: .875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.navbar {
  box-shadow: 1.5px 2px 6px rgba(59, 124, 255, 0.1) !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.border-end {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 !important;
  margin-bottom: 0;
  border-radius: .25rem;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
  padding: 8px 15px !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 8px 15px !important;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: none !important;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item + .list-group-item.active {
  margin-top: -1px;
  border-top-width: 1px;
}

.list-group-flush {
  border-radius: 0;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}

.list-group-item-light {
  color: #636464;
  background-color: #fefefe;
  padding: 8px 15px !important;
}

.list-group-item-light.list-group-item-action:focus,
.list-group-item-light.list-group-item-action:hover {
  color: #BD9466 !important;
  background: #fff !important;
}

.list-group-item-light.list-group-item-action.active {
  color: #fff;
  background: linear-gradient(90deg, #BD9466 39.07%, #DAAD7B 100%);
  padding: 8px 15px !important;
  border-radius: 30px;
}

.logo_img {
  width: 100px;
}

.hand {
  cursor: pointer;
}

.justify_start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.justify_end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.ml_10 {
  margin-left: 10px;
}

.main_bg {
  padding: 30px;
}

.main_card {
  background: #FFFFFF;
  padding: 10px 12px;
  box-shadow: 0 0 10.5541px 3.16623px rgba(59, 124, 255, 0.05);
  border-radius: 20px;
  margin-bottom: 15px;
  min-height: 230px;
}

.txt1 {
  color: #0E1C40;
  font-weight: 600;
  font-size: 18px;
}

.txt2 {
  color: #284765;
  font-weight: 500;
  font-size: 22px;
}

.txt3 {
  color: #284765;
  font-weight: 500;
  font-size: 14px;
}

.txt1_l {
  color: #67728D;
  font-weight: 500;
  font-size: 18px;
}

.txt2_l {
  color: #67728D;
  font-weight: 500;
  font-size: 14px;
}

.txt_no_1 {
  color: #344B61;
  font-weight: 600;
  font-size: 22px;
}

.mb_15 {
  margin-bottom: 15px;
}

.progress {
  background: #F2F2F2 !important;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  /* padding: 0 5px; */
  display: flex;
  height: 8px !important;
  width: 100%;
}

.progress2 {
  background: #CDA579 !important;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  /* padding: 0 5px; */
  display: flex;
  height: 8px !important;
  width: 100%;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #EFDAC4;
  height: 8px;
  width: 0;
}

.progress-value2 {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #CDA579;
  height: 8px;
  width: 0;
}
@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.mt_8 {
  margin-top: 8px;
}

.d_i {
  color: #284765 !important;
}

.g_i {
  color: #CDA579 !important;
}

.o_i {
  color: #EFDAC4 !important;
}

.no_i {
  color: #c9cfda !important;
}

.fs_16 {
  font-size: 16px !important;
}

.space_even {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-wrapper {
  margin: 10px;
  border-radius: 3px;
  overflow: auto;
  padding: 0 5px;
}

.app-wrapper .chartWrap {
  float: left;
  position: relative;
  width: 25%;
  background: white;
  height: 330px;
  border: 1px solid silver;
  margin: 0 4%;
}

.app-wrapper .chartWrap #vendorChart {
  height: 100%;
}

.app-wrapper .chartWrap .highcharts-container {
  max-height: 300px;
}

.brdr {
  border-bottom: 1px solid #f8d1a6;
  padding: 10px 20px;
}

.head_txt {
  font-weight: 700;
  font-size: 24px;
  color: #344B61;
}

.drop_img {
  width: 30px;
  height: 30px;
}

.list_btn {
  border: none !important;
  display: inline-block;
  background-color: #fff;
  border-radius: 30px;
  padding: 4px 15px;
  width: 200px;
  text-align: left;
  box-shadow: 0 3.23077px 3.23077px rgba(59, 124, 255, 0.04);
}

.dropdown-menu {
  width: 200px !important;
  border-radius: 10px !important;
}

.navbar-nav {
  flex-direction: row !important;
}

.dp {
  width: 30px;
}

.pr_10 {
  padding-right: 10px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ebf0 !important;
  border: none !important;
  border-radius: .25rem;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.profile {
  background-color: #e9ebf0 !important;
  border-radius: 30px;
}

.mr_10 {
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .dp_name {
    display: none;
  }

  .input-group {
    display: none !important;
  }

  .form-control {
    display: none;
  }

  #chart {
    width: 100% !important;
    margin: 0 auto !important;
    height: 300px !important;
  }

  #chart2 {
    width: 100% !important;
    margin: 0 auto !important;
    height: 300px !important;
  }
}
@media only screen and (min-width: 768px) {
  .dp_name {
    padding-right: 10px;
  }

  .input-group {
    width: 200px !important;
    padding-left: 10px;
    margin: 0 auto 0 0;
  }

  .form-control {
    border: none !important;
    background-color: #e9ebf0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  #chart {
    width: 80% !important;
    margin: 0 auto !important;
    height: 300px !important;
  }

  #chart2 {
    width: 80% !important;
    margin: 0 auto !important;
    height: 300px !important;
  }
}
@media only screen and (min-width: 992px) {
  .dp_name {
    padding-right: 10px;
  }

  .input-group {
    width: 360px !important;
    padding-left: 10px;
    margin: 0 auto 0 0;
  }

  .form-control {
    border: none !important;
    background-color: #e9ebf0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  #chart {
    width: 56% !important;
    margin: 0 auto !important;
    height: 300px !important;
  }

  #chart2 {
    width: 56% !important;
    margin: 0 auto !important;
    height: 300px !important;
  }
}

.mr_20 {
  margin-right: 20px;
}
.apexcharts-menu-icon{
  display: none;
}